<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_send</key>
		<string>/::)</string>
		<key>face_image_name</key>
		<string>Expression_1</string>
		<key>face_name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/::P</string>
		<key>face_name</key>
		<string>[调皮]</string>
		<key>face_image_name</key>
		<string>Expression_13</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:,@-D</string>
		<key>face_name</key>
		<string>[可爱]</string>
		<key>face_image_name</key>
		<string>Expression_22</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/::D</string>
		<key>face_image_name</key>
		<string>Expression_14</string>
		<key>face_name</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/::-|</string>
		<key>face_name</key>
		<string>[尴尬]</string>
		<key>face_image_name</key>
		<string>Expression_11</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:?</string>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>face_image_name</key>
		<string>Expression_33</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/::$</string>
		<key>face_name</key>
		<string>[害羞]</string>
		<key>face_image_name</key>
		<string>Expression_7</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/::hx</string>
		<key>face_name</key>
		<string>[憨笑]</string>
		<key>face_image_name</key>
		<string>Expression_29</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:P-(</string>
		<key>face_name</key>
		<string>[委屈]</string>
		<key>face_image_name</key>
		<string>Expression_50</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/::+</string>
		<key>face_name</key>
		<string>[酷]</string>
		<key>face_image_name</key>
		<string>Expression_17</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:,@f</string>
		<key>face_name</key>
		<string>[奋斗]</string>
		<key>face_image_name</key>
		<string>Expression_31</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/::*</string>
		<key>face_image_name</key>
		<string>Expression_53</string>
		<key>face_name</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:strong</string>
		<key>face_name</key>
		<string>[强]</string>
		<key>face_image_name</key>
		<string>Expression_80</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:handclap</string>
		<key>face_name</key>
		<string>[鼓掌]</string>
		<key>face_image_name</key>
		<string>Expression_43</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:bye</string>
		<key>face_name</key>
		<string>[再见]</string>
		<key>face_image_name</key>
		<string>Expression_40</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:ok</string>
		<key>face_name</key>
		<string>[OK]</string>
		<key>face_image_name</key>
		<string>Expression_90</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:share</string>
		<key>face_name</key>
		<string>[握手]</string>
		<key>face_image_name</key>
		<string>Expression_82</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:sun</string>
		<key>face_name</key>
		<string>[太阳]</string>
		<key>face_image_name</key>
		<string>Expression_77</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:rose</string>
		<key>face_name</key>
		<string>[玫瑰]</string>
		<key>face_image_name</key>
		<string>Expression_64</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:heart</string>
		<key>face_name</key>
		<string>[爱心]</string>
		<key>face_image_name</key>
		<string>Expression_67</string>
	</dict>
	<dict>
		<key>face_send</key>
		<string>/:hug</string>
		<key>face_name</key>
		<string>[拥抱]</string>
		<key>face_image_name</key>
		<string>Expression_79</string>
	</dict>
</array>
</plist>
