body {
    margin-top: 0px;
    margin-bottom:0px;
    color: #3E3E3E;
    padding: 0px;
    margin-left:0px;
    margin-right:0px;
    font-size: 15pt;
}
body img {
    max-width: 100%;
    margin-top: 0px;
}
