//
//  Config.xcconfig
//  JKIMFrameWork
//
//  Created by Jerry on 2019/3/5.
//  Copyright © 2019 于飞. All rights reserved.
//
HEADER_SEARCH_PATHS = $(SDKROOT)/usr/include/libxml2 $(SDKROOT)/usr/include/libresolv
SKIP_INSTALL = YES
PODS_ROOT = ${SRCROOT}
PODS_CONFIGURATION_BUILD_DIR =${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
